.env*.local
.env

.million
.vercel
.idea
.vscode
.next
.cache

node_modules/

yarn.lock
yarn-debug.log
yarn-error.log

pnpm-debug.log
pnpm-error.log
pnpm-lock.yaml
pnpm-workspace.yaml

package-lock.json

bun.lockb